.addCrystalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.imgContainer {
  width: 2vw;
}

.textContainer {
  padding: 1rem;
  padding-right: 0.1rem;
}
