.addCrystalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: clamp(1rem, 2vw, 7rem);
  align-items: center;
}

.imgContainer {
  width: clamp(17px, 2vw, 50px);
}

.textContainer {
  padding: 1rem;
  padding-right: 0.1rem;
}
