.buttonContainer {
  background-color: #57fe94;
  border: 0.1rem solid #5d62a0;
  border-radius: 5rem;
  box-shadow: 0 0 0.5rem 0.1rem #5d62a0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 1rem;
}
.imgContainer {
  width: 8%;
  margin-right: 1rem;
}
.textContainer {
  color: #00042d;
  font-family: 'Nunito';
  font-size: 1rem;
  height: auto;
  width: auto;
}
