.nodeContainer {
  position: absolute;
  width: clamp(18px, 5vw, 100px);
  border-radius: 50%;
  border: 0.01rem solid #fff;
  box-shadow: 0 0 0.5rem 0.1rem #00ebff;
  cursor: pointer;
  height: clamp(18px, 5vw, 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.available {
  background-color: #fff;
}
.complited {
  background-color: #fff;
}
.locked {
  background-color: #5d62a0;
  border: 0.01rem solid #d9d9d9;
}
.icon {
  width: 60%;
}
