.menuButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.buttonContainer {
  background-color: #363c6b;
  border-radius: 50%;
  border: 0.01rem solid #fff;
  box-shadow: 0 0 0.5rem 0.1rem #00ebff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
}

.textContainer {
  color: #fff;
  font-family: 'Nunito';
  font-size: 1.5rem;
}

.iconContainer {
  width: 50%;
  height: 50%;
}
