@font-face {
  src: url(../../fonts/Nunito-Bold.ttf);
  font-family: 'Nunito';
}

.budgetPageContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'covers';
  background: linear-gradient(#0f172a, #5d62a0);
  color: #fff;
  min-height: 100dvh;
  font-family: 'Nunito';
  font-size: clamp(0.7rem, 1.2vw, 3rem);
  gap: 1rem;
}

.headerContainer {
  grid-area: header;
  padding: 0 3vw;
  padding-top: 1rem;
}

.mainContainer {
  grid-area: main;
  display: flex;
  align-items: start;
  position: relative;
  /* max-height: 55vh; */
  overflow: visible;
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: minmax(200px, 1fr) minmax(280px, 2fr) minmax(200px, 1fr);
  margin: 0 1vw;
  /* padding-top: 1vh; */
  min-height: 0;
}

.mascotContainer {
  object-fit: contain;
  height: clamp(150px, 15vw, 500px);
}

.mascotAskContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4vh;
  min-height: 0;
}
.bankContainer {
  width: 100%;
  /* max-width: 500px; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgContainer {
  width: 100%;
  max-width: 480px;
}
.tContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  position: absolute;
  top: 45%;
  transform: translateY(-30%);
}
.textContainer {
  font-size: clamp(2.5rem, 8vw, 7rem);
  color: #fff;
  /* text-shadow:
    0.2rem 0.2rem 0 #9841e2,
    0.2rem -0.2rem 0 #9841e2,
    -0.2rem 0.2rem 0 #9841e2; */
  -webkit-text-stroke: 0.5rem #9841e2;
  text-stroke: 0.5rem #9841e2;

  paint-order: stroke fill;
}

.coversContainer {
  grid-area: covers;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  /* height: 30vh; */
  overflow: hidden;
  margin-bottom: 1vw;
  flex-wrap: wrap;
  max-width: 100%;
}

@media (max-width: 900px) {
  .mainContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .mascotAskContainer,
  .bankContainer {
    margin: 0 auto;
  }
  .coversContainer {
    gap: 2rem;
  }
}

@media (min-width: 901px) {
  .budgetPageContainer {
    height: 100dvh;
    min-height: unset;
    overflow: hidden;
  }
}
