.input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
}
.targetContainer {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  overflow: visible;
  font-family: 'Nunito';
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  color: #00042d;
  -webkit-text-stroke: 0.03rem #00042d;
  text-align: center;
  transform: translateY(-16%);
}
.textContainer {
  position: absolute;
  transform: translateY(100%);
}

.gift {
  max-height: clamp(250px, 1vw, 500px);
  transform: translateY(10%);
  /* width: 270px; */
  object-fit: contain;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.4s ease;
}
.newGoalBtn {
  margin-top: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #22c55e, #4ade80);
  color: #062e14;
  font-weight: 700;

  box-shadow: 0 0 12px rgba(34, 197, 94, 0.6);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.newGoalBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px rgba(34, 197, 94, 0.9);
}
