.targetContainer {
  background: linear-gradient(to right, #169bf6, #00ebff);
  border: 0.01rem solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem #00ebff;
  font-family: 'Nunito';
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  max-width: 280px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
}
