.input {
  width: 90%;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-family: 'Nunito';
  border-color: #00042d;
}
.container {
  padding: 1rem;
}
.targetContainer {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease;
  overflow: visible;
  font-family: 'Nunito';
  font-size: clamp(0.5rem, 2vw, 1.2rem);
  color: #00042d;
  /* -webkit-text-stroke: 0.03rem #00042d; */
  text-align: center;
  transform: translateY(-16%);
}
.textContainer {
  position: absolute;
  transform: translateY(100%);
}

.gift {
  max-height: clamp(250px, 1vw, 500px);
  transform: translateY(10%);
  object-fit: contain;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.4s ease;
}
