.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.01rem solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem #00ebff;
  font-family: 'Nunito';
  font-size: 1.5rem;
}

.modal {
  background: #1e1e3f;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 450px;
  overflow: visible;
}
