.mainQuestContainer {
  background: linear-gradient(to right, #169bf6, #00ebff);
  border: 0.1vw solid #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem 0.1rem #00ebff;
  font-family: 'Nunito';
  padding: 1.5rem;
  margin: 0 auto;
}

.hContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: clamp(0.5rem, 1vw, 3rem);
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.imgContainer {
  height: clamp(32px, 5vw, 64px);
  margin-right: 1rem;
}
.h1Container {
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  margin-bottom: 1rem;
  color: #00042d;
}
