* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* outline: 1px solid red; */
}

@font-face {
  src: url(../../fonts/Nunito-Bold.ttf);
  font-family: 'Nunito';
}

.homePageContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'buttons';
  background: linear-gradient(#0f172a, #5d62a0);
  color: #ffff;
  min-height: 100dvh;
}

.headerContainer {
  grid-area: header;
  padding: 0 3vw;
  padding-top: 1rem;
}

.mainContainer {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 0; /*разрешаем сжатие, так как флекс по умолчанию запрещает его*/
  padding: 1rem;
  flex-wrap: wrap;
}

.menuContainer {
  grid-area: buttons;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
  justify-content: space-between;
}

.mascotContainer {
  object-fit: contain;
  width: clamp(120px, 20vw, 260px);
}

@media (max-width: 900px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .menuContainer {
    justify-content: center;
  }

  .buttonsContainer {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
